.additional__wrapper {
  max-width: 500px;
}

.additional__title {
  padding: 28px 20px 34px;
  margin: 0 auto;
  width: 320px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  z-index: 8;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $leaf;
    top: 42px;
    left: 0;
    overflow-x: hidden;
    z-index: 1;
  }
}

.additional__title-text {
  display: inline-block;
  padding: 0 20px;
  margin-left: -20px;
  background-color: white;
  position: relative;
  z-index: 3;
}

.additional__list {
  list-style: none;
  padding: 0 20px;
}

.additional__item {
  padding: 13px 0 17px;
  margin: 0 auto;
  max-width: 320px;
  border-bottom: 1px solid #e6e6e6;
}

.additional__item:first-child {
  border-top: 1px solid #e6e6e6;
}

.additional__name {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 13px;
}

.additional__table {
  border-spacing: 0;
  width: 100%;
  max-width: 350px;
  font-size: 14px;
  line-height: 14px;
  color: $greyish-brown;
  font-family: "Arial", sans-serif;
  margin-bottom: 15px;
}

.additional__price {
  text-align: right;
}

.additional__button {
  font-size: 16px;
  line-height: 20px;
}


@media (min-width: $size-tablet) {
  .additional__wrapper {
    max-width: 900px;
    margin-bottom: 69px;
  }

  .additional__title {
    padding: 21px 20px;
    margin: 0 0 58px;
    width: 100%;
    font-size: 36px;
    line-height: 36px;
  }

  .additional__title-text {
    padding: 0 36px;
    margin-left: 11px;
  }

  .additional__list {
    max-width: 800px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .additional__item {
    width: 100%;
    padding: 26px 36px 26px 38px;
    margin: 0 auto;
    max-width: none;
    border: 1px solid #e6e6e6;
  }

  .additional__block-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 23px;
  }

  .additional__name {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .additional__table {
    width: 236px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 2px;
    margin-bottom: 0;
  }

  .additional__volume {
    width: 60%;
    text-align: right;
  }

  .additional__price {
    width: 40%;
    text-align: right;
  }

  .additional__button {
    width: 100%;
  }
}
