.additional__wrapper {
  max-width: 500px;
  padding: 0 20px;
}

.additional__title {
  padding: 28px 0 34px;
  margin: 0 auto;
  width: 320px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 73px;
    height: 3px;
    background-color: $leaf;
    top: 42px;
    left: 247px;
    overflow-x: hidden;
  }
}

.additional__list {
  list-style: none;
}

.additional__item {
  padding: 13px 0 17px;
  margin: 0 auto;
  max-width: 320px;
  border-bottom: 1px solid #e6e6e6;
}

.additional__item:first-child {
  border-top: 1px solid #e6e6e6;
}

.additional__name {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 13px;
}

.additional__table {
  border-spacing: 0;
  width: 100%;
  max-width: 350px;
  font-size: 14px;
  line-height: 14px;
  color: $greyish-brown;
  font-family: "Arial", sans-serif;
  margin-bottom: 15px;
}

.additional__price {
  text-align: right;
}

.additional__button {
  font-size: 16px;
  line-height: 20px;
}
