.example {
  background-color: $white-three;
}

.example__wrapper {
  margin: 0 auto;
  padding: 29px 20px 18px;
  max-width: 500px;
}

.example__title {
  margin: 0 0 30px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  line-height: 40px;
  font-size: 36px;
  color: $black-two;
}

.example__text {
  margin: 0 0 25px;
  padding-right: 5px;
  color: $greyish-brown;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  word-wrap: break-word;
}

.example__infographics {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 39px;
  min-width: 244px;
  max-width: 300px;
}

.example__infographics-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 123px;
  height: 55px;
  border-radius: 3px;
  border: 1px solid $grey-light;
}

.example__infographics-numbers {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 24px;
  color: $black-two;
  text-transform: uppercase;
}

.example__infographics-text {
  position: absolute;
  top: 45px;
  width: 87px;
  padding: 0 10px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  color: $greyish-brown;
  background-color: $white-three;
}

.example__expenses {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  margin-bottom: 39px;
}

.example__switch {
  display: flex;
  margin: 0 auto 19px;
  width: 210px;
  font-size: 16px;
  line-height: 16px;
  color: $black-two;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
  padding: 0 4px 2px 8px;
}

.example__switch-block {
  width: 84px;
  height: 14px;
  margin: 0 18px 0 19px;
  border: 1px $pinjish-grey-two solid;
  border-radius: 6px;
  background-color: $white;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 35px;
    height: 6px;
    border-radius: 3px;
    background-color: $leaf;
    top: 3px;
    left: 5px;
  }
}

.example__part2 {
  margin: 0 -20px;
}

.example__images-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 40px;
  position: relative;
  z-index: 3;
  width: 311px;
  height: 232px;
}

.example__before-cat {
  width: 100%;
  height: auto;
}

.example__after-cat {
  width: 100%;
  height: auto;
}

.example__img-after,
.example__img-before {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.example__img-after {
  display: none;
}


@media (min-width: $size-tablet) {
  .example {
    background-color: $white;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 462px;
      bottom: 0;
      background-color: $bg-example;
      z-index: 1;
    }
  }

  .example__wrapper {
    max-width: 900px;
    margin: -25px auto 0;
    border-top: 1px solid $border-gray;
    padding: 43px 31px 44px 30px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 64px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
  }

  .example__block-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 768px;
    margin: 0 auto 35px;
  }

  .example__expenses {
    width: 180px;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    margin-top: 8px;
  }

  .example__infographics {
    margin: 0;
    max-width: none;
  }

  .example__infographics-item {
    width: 162px;
    height: 72px;
    margin-right: 42px;
  }

  .example__infographics-numbers {
    font-size: 30px;
    line-height: 37px;
  }

  .example__infographics-text {
    width: auto;
    font-size: 14px;
    line-height: 14px;
    padding: 0 9px 0 8px;
    background-color: $white;
    top: 62px;
  }

  .example__switch {
    width: 600px;
    align-items: center;
    padding: 0 0 0 14px;
    margin-bottom: 25px;
  }

  .example__switch-block {
    width: 428px;
    height: 6px;
    background-color: $pinjish-grey-two;
    border-radius: 2.5px;
    margin: -5px 22px 0 25px;

    &::before {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $leaf;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      border: 1px solid $pinjish-grey-two;
      background-color: $white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }

  .example__before-text,
  .example__after-text {
    font-size: 20px;
    border-bottom: 1px dotted $black-23;
    padding-bottom: 9px;
  }

  .example__images-block {
    width: 636px;
    height: 517px;
    margin-bottom: 37px;
  }

  .example__before-cat {
    width: auto;
    height: 100%;
    margin: 18px -330px 0 0;
  }

  .example__after-cat {
    width: auto;
    height: 100%;
    margin: 17px 0 0 -304px;
  }

  .example__img-after,
  .example__img-before {
    flex-grow: 0;
    overflow: hidden;
  }

  .example__img-after {
    display: flex;
    width: 50%;
    height: 517px;
  }

  .example__img-before {
    width: 50%;
    height: 517px;
  }
}

@media (min-width: $size-desktop) {
  .example__wrapper {
    max-width: 1440px;
    margin: -49px auto 0;
    border-top: none;
    padding: 0 110px 68px;
    display: flex;
    justify-content: space-between;
  }

  .example__part1 {
    position: relative;
    z-index: 5;
  }

  .example__part2 {
    margin: 0;
  }

  .example__title {
    margin-top: 47px;
    margin-bottom: 147px;
  }

  .example__text {
    width: 440px;
    margin-bottom: 67px;
  }

  .example__block-wrapper {
    flex-direction: column;
    max-width: 408px;
    margin: 0;
  }

  .example__expenses {
    width: 100%;
    font-size: 20px;
    line-height: 29px;
    text-align: left;
    margin: 0;
  }

  .example__expenses-sum {
    display: inline-block;
    margin-left: 59px;
  }

  .example__infographics {
    margin-bottom: 57px;
  }

  .example__infographics-text {
    background-color: $bg-example;
  }

  .example__switch {
    margin: 0 0 0 auto;
    padding-left: 30px;
  }

  .example__switch-block {
    margin: -8px 21px 0 24px;
  }

  .example__images-block {
    width: 730px;
    height: 552px;
    margin-bottom: 40px;
    margin-top: -40px;
    margin-right: -80px;
    align-items: flex-end;
  }

  .example__before-cat {
    margin: -1px -325px 0 0;
  }

  .example__after-cat {
    margin: 0 0 0 -406px;
  }

  .example__before-text,
  .example__after-text {
    padding-bottom: 8px;
  }
}
