.footer {
  background-color: $white-three;
  margin-top: -5px;
  padding-top: 3px;
}

.footer__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 320px;
}

.footer__logo {
  display: block;
  text-align: center;
  padding: 39px 0 28px;
  border-bottom: 1px solid $black-10;

  &:hover,
  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.6;
  }
}

.socials {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 23px 82px 17px 71px;
  border-bottom: 1px solid $black-10;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.copyright__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $greyish-brown;
  text-decoration: none;
  margin: 0;
  padding: 0;

  &:active {
    opacity: 0.3;
  }
}

.social-vk,
.social-inst,
.social-fb,
.copyright__link {
  &:hover,
  &:focus {
    svg {
      fill: $leaf;
    }
    outline: none;
  }

  &:active {
    svg {
      fill: $leaf;
    }
    opacity: 0.3;
  }
}

.social-vk__svg {
  width: 22px;
  height: 12px;
}

.social-inst {
  width: 17px;
  height: 17px;
}

.social-fb__svg {
  width: 10px;
  height: 19px;
}

@media (min-width: $size-tablet) {
  .footer {
    padding-top: 10px;
  }

  .footer__wrapper {
    max-width: 900px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px 55px;
  }

  .footer__logo {
    padding: 0;
    border: none;
  }

  .socials {
    padding: 0;
    border: none;
    width: 125px;
    align-items: center;
    margin-left: 17px;
  }

  .social-vk__svg {
    width: 30px;
    height: 16px;
  }

  .social-inst__svg {
    width: 23px;
    height: 23px;
  }

  .social-fb__svg {
    width: 14px;
    height: 28px;
  }

  .copyright {
    padding: 0;
    align-items: center;
  }

  .copyright__link {
    margin-left: 23px;
  }
}

@media (min-width: $size-desktop) {
  .footer__wrapper {
    max-width: 1440px;
    padding: 53px 110px;
  }
}
