.form {
  border-top: 1px solid #e6e6e6;
}

.form__wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.form__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  width: 320px;
  padding: 0 20px;
  margin: 25px auto 38px;
}

.form__text {
  max-width: 400px;
  margin: 0 auto 39px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__main-list,
.form__contact-list {
  list-style: none;
  max-width: 400px;
  margin: 0 auto 23px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  padding: 0 19px;
}

.form__main-item,
.form__contact-item {
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  position: relative;
}

.form__main-label {
  margin-right: 15px;
}

.form__main-input,
.form__contact-input {
  padding-left: 15px;
  height: 45px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $greyish-brown;
  border: 1px solid #e6e6e6;
  flex-grow: 1;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: $greyish-brown;
    outline: none;
    border-width: 2px;
  }
}

.form__wherefore-list {
  list-style: none;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 24px 20px 3px;
  margin: 0 auto 28px;
  max-width: 400px;
}

.form__wherefore-item {
  margin: 0 0 22px 46px;
}

.form__wherefore-label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -2px;
    left: -46px;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
  }

  &:hover,
  &:focus {
    &::before {
      border-color: #bababa;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.form__wherefore-radio:checked + .form__wherefore-label {
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    background: $leaf;
    top: 7px;
    left: -37px;
    border-radius: 50%;
  }
}

.form__contact-title {
  padding: 0 20px;
  max-width: 400px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 auto 33px;
  position: relative;
}

.form__contact-label {
  margin-right: 12px;
}

.form__contact-input {
  padding-right: 40px;
}

.form__svg-email {
  position: absolute;
  top: 14px;
  right: 17px;
  width: 17px;
}

.form__svg-tel {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 20px;
}

.form__contact-input--email:focus + .form__svg-email svg,
.form__contact-input--tel:focus + .form__svg-tel svg {
  fill: $leaf;
}
