.form {
  border-top: 1px solid #e6e6e6;
}

.form__wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.form__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  width: 320px;
  padding: 0 20px;
  margin: 25px auto 38px;
}

.form__text {
  max-width: 400px;
  margin: 0 auto 39px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__contact-list,
.form__main-list {
  list-style: none;
  max-width: 400px;
  margin: 0 auto 23px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  padding: 0 19px;
}

.form__contact-list {
  margin-bottom: 29px;
}

.form__contact-item,
.form__main-item {
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  position: relative;
}

.form__main-label {
  margin-right: 15px;
}

.form__contact-input,
.form__main-input {
  padding-left: 15px;
  height: 45px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $greyish-brown;
  border: 1px solid #e6e6e6;
  flex-grow: 1;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: $greyish-brown;
    outline: none;
    border-width: 2px;
  }
}

.form__wherefore-list {
  list-style: none;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 24px 20px 3px;
  margin: 0 auto 28px;
  max-width: 400px;
}

.form__wherefore-item {
  margin: 0 0 22px 46px;
}

.form__wherefore-label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -2px;
    left: -46px;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
  }

  &:focus,
  &:hover {
    &::before {
      border-color: #bababa;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.form__wherefore-radio:checked + .form__wherefore-label {
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    background: $leaf;
    top: 7px;
    left: -37px;
    border-radius: 50%;
  }
}

.form__wherefore-radio:focus + .form__wherefore-label {
  &::after {
    background: orange;
  }

  &::before {
    border-color: $very-dark-brown;
  }
}

.form__title-line {
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $leaf;
    top: 14px;
    left: 0;
    overflow-x: hidden;
    z-index: 1;
  }
}

.form__contact-title {
  padding: 0 20px;
  max-width: 400px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 auto 33px;
  position: relative;
}

.form__title-text {
  display: inline-block;
  width: auto;
  padding: 0 20px;
  margin-left: -20px;
  background-color: white;
  position: relative;
  z-index: 3;
}

.form__contact-title .form__title-text {
  width: 225px;
}

.form__contact-label {
  margin-right: 12px;
}

.form__contact-input {
  padding-right: 40px;
}

.form__svg-email {
  position: absolute;
  top: 14px;
  right: 17px;
  width: 17px;
}

.form__svg-tel {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 20px;
}

.form__contact-input--email:focus + .form__svg-email,
.form__contact-input--tel:focus + .form__svg-tel {
  fill: $leaf;
}

.form__comment {
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 0 19px;
}

.form__comment-title {
  max-width: 400px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 -20px 34px;
  text-align: left;
  position: relative;
  padding: 0 19px;
}

.form__comment-text {
  width: 100%;
  height: 150px;
  padding: 13px 12px 15px 15px;
  margin: 0 auto 25px;
  font-size: 16px;
  line-height: 18px;
  color: $greyish-brown;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  resize: none;
  opacity: 0.5;

  &:hover {
    border-color: #cdcdcd;
    opacity: 1;
    outline: none;
  }

  &:focus {
    border-color: $greyish-brown;
    border-width: 2px;
    opacity: 1;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__additional-title {
  max-width: 400px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding: 0 19px;
  margin: 0 auto 38px;
  position: relative;
}

.form__additional-list {
  list-style: none;
  padding: 0 20px 3px;
  margin: 0 auto 13px;
  max-width: 400px;
}

.form__additional-item {
  margin: 0 0 22px 46px;
}

.form__additional-label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -2px;
    left: -46px;
    border: 1px solid #cdcdcd;
  }

  &:focus,
  &:hover {
    &::before {
      border-color: #bababa;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.form__additional-checkbox:checked + .form__additional-label {
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 19px;
    height: 9px;
    top: 7px;
    left: -40px;
    border-bottom: 2px solid $leaf;
    border-left: 2px solid $leaf;
    transform: rotate(-45deg);
  }
}

.form__additional-checkbox:focus + .form__additional-label {
  &::after {
    border-color: orange;
  }

  &::before {
    border-color: $very-dark-brown;
  }
}

.form__button {
  display: block;
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  border: none;
}

.form__necessarily {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-family: "Arial", sans-serif;
  color: $greyish-brown;
  margin-bottom: 32px;
}

.form__main-input:invalid {
  border-color: #ff8282;
  border-width: 2px;
}

.form__contact-input:invalid {
  border-color: #ff8282;
  border-width: 2px;
}

.form__contact-input:invalid + .form__svg-email,
.form__contact-input:invalid + .form__svg-tel {
  fill: #ff8282;
}

@media (min-width: $size-tablet) {
  .form {
    border-top: none;
  }

  .form__wrapper {
    max-width: 800px;
  }

  .form__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    width: 480px;
    padding: 0 0 0 30px;
    margin: 30px 0 55px;
  }

  .form__text {
    max-width: 400px;
    margin: 0 0 65px;
    padding: 0 0 0 70px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__contact-list,
  .form__main-list {
    max-width: 800px;
    margin: 0 auto 73px;
    font-size: 20px;
    line-height: 20px;
    padding: 0 68px 0 71px;
  }

  .form__contact-list {
    margin-bottom: 67px;
    padding-right: 66px;
  }

  .form__contact-item,
  .form__main-item {
    margin-bottom: 20px;
  }

  .form__contact-input,
  .form__main-input {
    padding-left: 20px;
    height: 52px;
    font-size: 20px;
    line-height: 20px;
  }

  .form__wherefore-list {
    border: 1px solid #e6e6e6;
    padding: 24px 27px 8px;
    margin: 0 67px 77px 71px;
    max-width: 800px;
  }

  .form__wherefore-item {
    margin: 0 0 22px 46px;
    padding: 9px 5px 0 13px;
  }

  .form__wherefore-label {
    font-size: 20px;
    line-height: 20px;

    &::before {
      width: 40px;
      height: 40px;
      top: -5px;
      left: -59px;
      border: 1px solid #cdcdcd;
    }
  }

  .form__wherefore-radio:checked + .form__wherefore-label {
    &::after {
      width: 18px;
      height: 18px;
      top: 7px;
      left: -48px;
    }
  }

  .form__title-line {
    &::after {
      top: 20px;
      left: 0;
    }
  }

  .form__contact-title {
    padding: 0 20px;
    max-width: 800px;
    font-size: 36px;
    line-height: 36px;
    margin: 0 auto 73px;
  }

  .form__contact-label {
    margin-left: -1.5px;
    margin-right: 17px;
  }

  .form__title-text {
    padding: 0 43px 0 38px;
    margin-left: 10px;
  }

  .form__contact-title .form__title-text {
    width: auto;
  }

  .form__contact-input {
    padding-right: 40px;
  }

  .form__svg-email {
    top: 21px;
    right: 20px;
    width: 18px;
    height: 14px;
  }

  .form__svg-tel {
    top: 18px;
    right: 17px;
    width: 21px;
    height: 21px;
  }

  .form__comment {
    max-width: 800px;
    padding: 0 67px 0 70px;
  }

  .form__comment-title {
    max-width: 800px;
    font-size: 36px;
    line-height: 36px;
    margin: 0 -67px 75px -70px;
  }

  .form__comment-text {
    height: 174px;
    padding: 9px 12px 15px 18px;
    margin: 0 auto 62px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__additional-title {
    max-width: 800px;
    font-size: 36px;
    line-height: 36px;
    margin: 0 auto 57px;
  }

  .form__additional-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10px 3px 70px;
    margin: 0 auto 16px;
    max-width: 800px;
  }

  .form__additional-item {
    width: 50%;
    padding: 8px 0 22px 58px;
    margin: 0 0 20px;
  }

  .form__additional-label {
    font-size: 20px;
    line-height: 20px;

    &::before {
      width: 40px;
      height: 40px;
      top: -4px;
      left: -58px;
    }
  }

  .form__additional-checkbox:checked + .form__additional-label {
    &::after {
      width: 19px;
      height: 9px;
      top: 10px;
      left: -46px;
    }
  }

  .form__sabmit-block {
    display: flex;
    max-width: 800px;
    padding: 0 71px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
  }

  .form__button {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    height: 52px;
    width: 281px;
  }

  .form__necessarily {
    display: inline-block;
    width: 45%;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    margin-bottom: 0;
  }
}
