.header {
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  max-width: $sm;
  align-items: flex-start;
  justify-content: center;
  padding: 11px 20px 0 20px;
}

.header__logo {
  display: block;
  margin-bottom: 12px;

  &:hover,
  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $sm) {
  .header__wrapper {
    display: flex;
    flex-direction: row;
    max-width: $sm;
    align-items: center;
    justify-content: space-between;
    padding: 24px 30px;
  }
}
