.intro {
  background: url("../img/index-background-mobile@1x.jpg") no-repeat center top;
}

.intro__wrapper {
  margin: 0 auto;
}

.intro__title {
  font-size: 36px;
  text-align: center;
  color: #ffffff;
  width: 320px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 auto 20px;
  padding: 27px 0 0;
}

.intro__slogan {
  text-align: center;
  text-transform: uppercase;
  width: 300px;
  color: #ffffff;
  margin: 0 auto 25px;
}

.intro__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  width: 280px;
  height: auto;
}

@media (min-width: $size-tablet) {
  .intro {
    background: none;
  }

  .intro__wrapper {
    max-width: 900px;
    padding: 30px 0 0 0;
  }

  .intro__title {
    color: $black-two;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    width: 420px;
    margin: 0 0 41px 117px;
    padding: 0;
  }

  .intro__slogan {
    color: $black-two;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin: 0 0 0 117px;
  }

  .intro__image {
    width: 709px;
    height: auto;
    margin: 20px auto 0;
  }
}
