.promotion {
  padding: 39px 20px 35px;
}

.promotion__wrapper.wrapper {
  text-align: center;
  margin: 0 auto;
  background: url("../img/gift-photo-mobile@1x.jpg");
  background-size: contain;
  min-width: 280px;
  height: 289px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.promotion__gift {
  width: 55px;
  height: 60px;
  fill: $white;
  margin: 64px auto 59px;
}

.promotion__text {
  width: 180px;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  font-family: "Arial", sans-serif;
  margin: 0 auto;
}

@media (min-width: $size-tablet) {
  .promotion {
    padding: 0;
  }

  .wrapper.promotion__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 76px;
    padding: 17px 105px 10px 90px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    width: 708px;
    height: 200px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .promotion__gift {
    display: block;
    width: 56px;
    height: 61px;
    margin: -13px 0 0;
  }

  .promotion__text {
    width: 180px;
    text-align: left;
    margin: 0;
  }
}

@media (min-width: $size-desktop) {
  .promotion {
    padding: 0;
  }

  .wrapper.promotion__wrapper {
    flex-direction: column;
    background-image: url("../img/gift-photo-desktop@1x.jpg") no-repeat;
    margin: 0;
    padding: 65px 43px 43px;
    min-width: 245px;
    width: 245px;
    height: 289px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .promotion__gift {
    margin: 0;
  }

  .promotion__text {
    text-align: center;
  }
}
