@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff") format("woff"),
    url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@-webkit-keyframes slide_down {
  from {
    -webkit-transform: translate(0px, -400px);
    transform: translate(0px, -400px);
  }

  to {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@keyframes slide_down {
  from {
    -webkit-transform: translate(0px, -400px);
    transform: translate(0px, -400px);
  }

  to {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.page {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-container {
  -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.page .container {
  position: relative;
  z-index: 5;
  background-color: #ffffff;
}

.navigation {
  background-color: #ffffff;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 6;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20%;
}

.nav-item:nth-child(2) {
  margin-right: 20%;
}

.nav-item:nth-child(1),
.nav-item:nth-child(2) {
  text-align: left;
}

.nav-item:nth-child(3),
.nav-item:nth-child(4) {
  text-align: right;
}

.nav-link {
  display: block;
  padding: 16px 0 19px;
  font-family: inherit;
  font-weight: 700;
  color: #000000;
}

.nav-link:hover,
.nav-link:focus {
  color: #81b3d2;
}

.nav-link:active {
  color: #cacaca;
}

.nav-current {
  color: #766357;
}

.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 510px;
  margin-bottom: 59px;
  text-align: center;
  background: #d8e9f3 url("../img/background-photo.jpg") 50% 30% no-repeat;
}

.intro::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 57'%3E%3Cpath fill='%23fff' d='M0 57V0l250 24V0l350 57L950 0v24l250-24v57H0z'/%3E%3C/svg%3E") no-repeat;
}

.promo {
  background-color: #ffffff;
}

.promo-title {
  width: 576px;
  margin: 0 auto 27px auto;
  font-style: normal;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.promo-desc {
  width: 500px;
  margin: 0 auto 50px auto;
  line-height: 26px;
  text-align: center;
}

.reasons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0px;
}

.reasons-list,
.features-list {
  list-style: none;
}

.reason-item {
  background-color: #81b3d2;
}

.reason-item,
.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.reason-spec {
  width: 400px;
  padding: 48px 43px 50px 43px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-title {
  width: 150px;
  margin: 0 auto 23px auto;
}

.reason-title,
.feature-title {
  font-size: 21px;
}

.reason-desc {
  margin: 21px auto 0 auto;
}

.reason-one {
  padding: 0 5px;
}

.reason-item-bottom .reason-desc {
  padding: 0 15px;
}

.reason-item-bottom .reason-five {
  padding: 0 25px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 0;
  background-color: #ffffff;
}

.feature-item {
  position: relative;
  width: 400px;
  padding: 162px 58px 81px;
  text-align: center;
}

.feature-title {
  margin: 0 auto 24px auto;
}

.feature-item::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50px;
  display: block;
  width: 80px;
  height: 80px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.feature-house::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='72' viewBox='0 0 75 72' fill='%2381B3D2'%3E%3Cpath d='M29.656 65.033h16V41.21h-16v23.823zm2.937-20.899h10.125V62.11H32.593V44.134z'/%3E%3Cpath d='M72.771 39.253l2.076-2.068-9.908-9.865V0H51.127v13.567L37.5 0 .152 37.185l2.077 2.068 7.832-7.795v37.618H6.124V72h63.875v-2.924H64.94V31.458l7.831 7.795zM62.002 69.076H12.999V28.534L37.5 4.149l24.502 24.385v40.542zm0-44.682l-7.938-7.902V2.924h7.938v21.47z'/%3E%3Cpath d='M29.906 27.08c0 4.261 3.47 7.713 7.75 7.713 4.279 0 7.75-3.452 7.75-7.713 0-4.259-3.471-7.713-7.75-7.713-4.281 0-7.75 3.454-7.75 7.713zm7.75-4.945c2.744 0 4.969 2.214 4.969 4.945 0 2.732-2.225 4.948-4.969 4.948-2.746 0-4.97-2.216-4.97-4.948 0-2.731 2.225-4.945 4.97-4.945zM17.061 41.21h3v3.919h-3zM22.999 41.21h3v3.919h-3zM17.061 47.182h3v3.919h-3zM22.999 47.182h3v3.919h-3zM48.998 41.21h3v3.919h-3zM54.936 41.21h3v3.919h-3zM48.998 47.182h3v3.919h-3zM54.936 47.182h3v3.919h-3z'/%3E%3C/svg%3E") 50% 100% no-repeat;
}

.feature-food::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='74' height='70' viewBox='0 0 74 70'%3E%3Cg fill='%2381B3D2'%3E%3Cpath d='M69.854 46.71H4.051c-2.274 0-4.135 1.94-4.135 4.313v3.504c0 2.372 1.861 4.313 4.135 4.313h.93v1.053c0 5.536 4.341 10.065 9.648 10.065h44.646c5.306 0 9.648-4.529 9.648-10.065V58.84h.93c2.274 0 4.135-1.941 4.135-4.313v-3.504c0-2.373-1.86-4.313-4.134-4.313zm-3.848 13.184c0 3.871-3.019 7.021-6.73 7.021H14.629c-3.711 0-6.731-3.15-6.731-7.021v-1.053h58.107v1.053zm5.065-5.367c0 .688-.558 1.271-1.218 1.271H4.051c-.66 0-1.217-.582-1.217-1.271v-3.504c0-.688.558-1.271 1.217-1.271h65.802c.66 0 1.218.582 1.218 1.271v3.504zM15.634 38.406l5.323 4.059 5.326-4.059 5.328 4.059 5.328-4.059 5.328 4.059 5.329-4.059 5.327 4.059 5.33-4.06 5.336 4.059 6.194-4.712-1.72-2.459-4.474 3.403-5.336-4.057-5.33 4.056-5.327-4.057-5.329 4.057-5.328-4.057-5.328 4.057-5.328-4.057-5.325 4.057-5.323-4.057-5.327 4.057-4.467-3.401-1.721 2.457 6.188 4.714zM7.978 31.544H68.855c.041-.619.069-1.241.069-1.87 0-.394-.016-.783-.032-1.173C68.227 12.657 54.186 0 36.952 0 19.719 0 5.677 12.657 5.013 28.501c-.017.39-.032.78-.032 1.173 0 .629.028 1.251.07 1.87h2.927zM36.952 3.043c15.591 0 28.35 11.316 29.021 25.458H7.931c.673-14.142 13.43-25.458 29.021-25.458z'/%3E%3Cellipse cx='36.952' cy='15.26' rx='1.945' ry='2.03'/%3E%3Cellipse cx='29.172' cy='10.23' rx='1.946' ry='2.03'/%3E%3Cellipse cx='44.732' cy='10.23' rx='1.946' ry='2.03'/%3E%3C/g%3E%3C/svg%3E") 50% 100% no-repeat;
}

.feature-souvenir::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='76' viewBox='0 0 64 76'%3E%3Cpath fill='%2381B3D2' fill-rule='evenodd' d='M61.097 22.501H36.312C50.125 15.602 51.229 11.25 50.72 8.816c-1.162-3.963-5.692-7.023-10.002-5.407-5.569 2.089-7.137 10.388-8.644 16.387-1.924-6.07-3.784-13.814-8.136-17.737C22.677.921 20.843-.205 18.175.031c-4.026.356-9.802 5.382-7.458 10.981 2.251 5.378 9.687 8.777 14.578 11.489H2.879A2.882 2.882 0 0 0 0 25.37v11.322a2.882 2.882 0 0 0 2.879 2.869h.274V76h57.841V39.561h.103a2.882 2.882 0 0 0 2.88-2.869V25.37a2.882 2.882 0 0 0-2.88-2.869zM42.413 5.944c2.103-.31 4.982 1.299 5.255 3.209.393 2.756-3.4 5.255-5.086 6.421-2.523 1.744-4.928 2.643-7.287 4.055.884-3.69 2.549-13.011 7.118-13.685zm-22.882 9.968c-2.225-1.485-6.544-4.431-6.44-7.771.112-3.595 5.743-6.57 8.814-3.886 3.856 3.371 5.713 11.105 7.119 16.557-3.249-1.539-6.328-2.788-9.493-4.9zm5.972 57.114H6.136V39.561h19.368v33.465zm0-36.502H3.046V25.538h22.457v10.986zm10.157 0v36.503h-7.174V25.538h7.174v10.986zm22.351 36.502H38.644V39.561h19.367v33.465zm2.92-36.502H38.644V25.538h22.287v10.986z' clip-rule='evenodd'/%3E%3C/svg%3E") 50% 100% no-repeat;
}

.feature-desc {
  margin: 0 auto;
}

.reason-item-bottom {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 300px;
  padding: 48px 48px 58px 48px;
  text-align: center;
  background-color: #eeeeee;
}

.search-hotels {
  position: relative;
  z-index: 3;
  text-align: center;
}

.search-hotels-container {
  position: relative;
  width: 568px;
  margin: 0 auto 0 auto;
  padding-bottom: 472px;
}

.container-for-animation {
  position: relative;
  z-index: 4;
  padding-top: 53px;
  background-color: #ffffff;
}

.search-hotels-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.search-hotels-desc {
  margin: 25px auto 45px auto;
  line-height: 24px;
}

.search-hotels-btn {
  position: relative;
  z-index: 4;
  width: 100%;
  padding: 30px 0 30px 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.search-hotels-btn:focus,
.search-hotels-btn:hover {
  background-color: #604e43;
}

.search-hotels-btn:active {
  color: #928a85;
  background-color: #503e33;
}

.search-hotels-form {
  position: absolute;
  bottom: 77px;
  z-index: 3;
  display: none;
  width: 568px;
  padding: 55px;
  margin: auto;
  background-color: #ffffff;
}

.arrival-date,
.departure-date {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto 30px;
}

.label-form,
.input-number,
.input-date {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.input-date {
  width: 346px;
  height: 38px;
  padding: 6px 0 6px 13px;
  margin-left: auto;
}

.search-hotels-form input::-ms-clear {
  display: none;
}

.input-date,
.input-number {
  background-color: #f2f2f2;
  border: none;
}

.calendar {
  position: absolute;
  top: 7px;
  right: 2px;
  background: none;
  border-width: 0;
}

.calendar path {
  fill: #cacaca;
}

.calendar:hover path,
.calendar:focus path {
  fill: #000000;
}

.calendar:active path {
  fill: #81b3d2;
}

.number-peoples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 54px;
}

.number-peoples-abults,
.number-peoples-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.number-peoples-abults .label-form {
  margin-right: 40px;
}

.number-peoples-children .label-form {
  margin-right: 28px;
}

.input-number,
.button-reduce,
.button-increase {
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
}

.input-number:hover,
.input-date:hover {
  background-color: #ebebeb;
}

.input-number:focus,
.input-date:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.button-reduce,
.button-increase {
  font-size: 24px;
  color: #cacaca;
}

.button-reduce {
  font-size: 30px;
}

.button-reduce:hover,
.button-increase:hover,
.button-reduce:focus,
.button-increase:focus {
  color: #000000;
}

.button-reduce:active,
.button-increase:active {
  color: #81b3d2;
}

.button-search {
  width: 100%;
  padding: 16px 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.button-search:focus,
.button-search:hover {
  background-color: #669ec0;
}

.button-search:active {
  color: #81aecb;
  background-color: #5496bd;
}

.map {
  position: absolute;
  bottom: -124px;
  z-index: 2;
  padding: 0;
  margin: 0;
}

.map-img {
  position: absolute;
  bottom: 6px;
  left: 0;
  z-index: 0;
}

.map-frame {
  position: absolute;
  bottom: 6px;
  left: 0;
  z-index: 1;
  border: none;
}

.footer {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 31px 100px 31px 130px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-hashtag {
  margin-right: 254px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  width: 180px;
  height: 100%;
  padding: 0;
  margin: 0 220px 0 0;
  text-align: left;
  list-style: none;
}

.social-item {
  margin-right: 6px;
  padding: 5px 0;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background: #669ec0;
}

.social-button:active {
  background: #5496bd;
}

.social-button:active path {
  fill-opacity: 0.3;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 210px;
  margin: 0;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
}

.footer-copyright b {
  margin-right: 8px;
}

.copyright-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright-link:hover path,
.copyright-link:focus path {
  fill: #81b3d2;
}

.copyright-link:active path {
  fill: #bdbbbc;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 28px 72px 6px 72px;
  text-align: left;
  background: #84a3c2 url("../img/filter-background.jpg") right center no-repeat;
}

.infrastructure-form {
  width: 255px;
}

.infrastructure-form,
.type-form,
.cost-form {
  padding: 0px;
  margin: 0px;
  border: none;
}

.title-fieldset {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
}

.infrastructure-form-list,
.type-form-list {
  padding: 0;
  margin: 24px 0 0 0;
  list-style: none;
}

.infrastructure-form-item,
.type-form-item {
  position: relative;
  margin-bottom: 25px;
}

.checkbox-label {
  padding-left: 40px;
  color: #ffffff;
}

.checkbox-label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 25px;
  height: 23px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23' fill='%23ffffff'%3E%3Cpath d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E") no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-checkbox:checked+.checkbox-label::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23' fill='%23ffffff'%3E%3Cpath d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E") no-repeat;
}

.form-checkbox:checked:disabled+.checkbox-label::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23' fill='%23000000'%3E%3Cpath d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E") no-repeat;
  opacity: 0.3;
}

.form-checkbox:disabled+.checkbox-label::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23' fill='%23000000'%3E%3Cpath d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E") no-repeat;
  opacity: 0.3;
}

.form-checkbox:focus+.checkbox-label::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23' fill='%239fc4db'%3E%3Cpath d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E") no-repeat;
}

.form-checkbox:checked:focus+.checkbox-label::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23' fill='%239fc4db'%3E%3Cpath d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E") no-repeat;
}

.form-checkbox:focus+.checkbox-label {
  color: #9fc4db;
}

.type-form {
  width: 485px;
}

.cost-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.temporal-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: white;
}

.price-controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls .min-price,
.price-controls .max-price {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 7px 0 7px 21px;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.price-controls input {
  width: 40px;
  margin: 0;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background: #b1b1b1;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.range-toggle:hover {
  top: -10px;
  width: 22px;
  height: 22px;
  border: 9px solid #ffffff;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  width: 132px;
  height: 32px;
  margin: 0 auto;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.button-show {
  width: 133px;
  padding: 6px 0;
  margin: 0 auto;
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: none;
  border: 2px solid #ffffff;
}

.button-show:hover,
.button-show:focus {
  color: #000000;
  background: #ffffff;
}

.sort-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 26px 72px 23px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.sort-search-desc {
  width: 145px;
  margin-right: 19px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.sort-search-title {
  margin-right: 40px;
}

.sort-search-title,
.sort-search-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sort-search-list,
.sort-search-increase-descending,
.hotels-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sort-search-item {
  margin-right: 33px;
}

.sort-search-link {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sort-search-link:focus,
.sort-search-link:hover {
  color: #81b3d2;
}

.sort-search-link:active {
  color: #000000;
  border: none;
}

.sort-search-link.current {
  color: #81b3d2;
  border: none;
}

.sort-search-increase-descending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.sort-search-link-increase {
  margin-right: 22px;
}

.sort-search-link-increase.current polygon,
.sort-search-link-descending.current polyline {
  fill: #81b3d2;
}

.sort-search-link-increase:hover polygon,
.sort-search-link-increase:focus polygon,
.sort-search-link-descending:hover polyline,
.sort-search-link-descending:focus polyline {
  fill: #231f20;
}

.sort-search-link-increase:active polygon,
.sort-search-link-descending:active polyline {
  fill: #81b3d2;
}

.hotels-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hotels-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px 73px;
  border-bottom: 1px solid #e5e5e5;
}

.hotels-list-item img {
  margin-right: 29px;
}

.hotels-item-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 780px;
  margin-top: -3px;
}

.hotels-item-title {
  margin: 0;
}

.hotels-item-title a {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.hotels-item-title a:hover,
.hotels-item-title a:focus {
  color: #81b3d2;
}

.hotels-item-title a:active {
  color: #cacaca;
}

.hotels-item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 180px;
  margin: 0;
}

.hotels-item-excerpt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 257px;
  margin-top: 10px;
}

.excerpt,
.reservation {
  padding: 3px 16px;
  font-weight: 700;
  color: #ffffff;
}

.excerpt {
  margin-right: 6px;
  background-color: #81b3d2;
}

.excerpt:hover,
.excerpt:focus {
  background-color: #669ec0;
}

.excerpt:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.reservation {
  background-color: #766357;
}

.reservation:hover,
.reservation:focus {
  background-color: #604e43;
}

.reservation:active {
  color: #928a85;
  background-color: #503e33;
}

.hotels-item-raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 110px;
  padding: 0px 0 2px 0;
}

.raiting-stars-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-left: 20px;
  list-style: none;
}

.raiting-stars-item::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 23px;
  height: 21px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='17' viewBox='0 0 18 17'%3E%3Cpath fill='%2381B3D2' d='M9.002 0l2.126 6.494h6.877l-5.564 4.012L14.566 17l-5.564-4.013L3.438 17l2.126-6.494L0 6.494h6.878z'/%3E%3C/svg%3E") no-repeat 100% 0%;
}

.raiting-desc {
  width: 100%;
  padding: 2px 0 2px 15px;
  text-align: left;
  color: #666666;
  background-color: #f2f2f2;
}

.modal-show {
  display: block;
  -webkit-animation-name: slide_down;
  animation-name: slide_down;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.modal-error {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}
