html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $black-two;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 40px;
  margin: 0 auto;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $leaf;

  &:hover,
  &:focus {
    outline: none;
    background-color: $grass;
  }

  &:active {
    background-color: $grass;
    color: $white-30;
  }
}

.wrapper {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}
