html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.button {
  color: #ffffff;
  text-decoration: none;
  background-color: #68b738;
  text-transform: uppercase;

  &:hover,
  &:focus {
    outline: none;
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(256, 256, 256, 0.3);
  }
}

.wrapper {
  width: 100%;
  min-width: 320px;
  max-width: $sm;
  margin: 0 auto;
  position: relative;
}
